---
import Layout from "../layouts/Layout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<Layout>
  <h1 class="">Blog test</h1>
  <li><a href="/posts/post1/">Post 1</a></li>
  <li><a href="/posts/post2/">Post 2</a></li>
  <li><a href="/posts/post3/">Post 3</a></li>
</Layout>
