---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const PAGE_PROPS = {
  title: "Blog",
  description: "Cuaderno de bitácora de Alejandro Propst",
  image: "/happy18.png"
};
---

<Layout {...PAGE_PROPS}>
  <h1>Blog test</h1>
  <ul>
    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</Layout>
