---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="flex items-center justify-center min-h-screen">
    <div class="flex flex-col items-center gap-6">
      <h1 class="text-3xl text-[#D99058]">[ global clicker experiment (Doesn't work rn, it's just decoration...) ]</h1>

      <div id="click-count" class="text-[6rem] font-extrabold text-orange-400 leading-none">
        0
      </div>

      <button
        id="click-button"
        class="bg-gray-700 text-white px-8 py-4 rounded-xl text-lg hover:bg-gray-600 transition-all shadow-md"
      >
        Click me
      </button>
    </div>
  </main>

  <script type="module" src="/src/assets/scripts/clicker.js"></script>
</Layout>
