---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Tools from "../components/Tools.astro";
import Logs from "../components/Logs.astro";
import Philosophy from "../components/Philosophy.astro";
import Stuff from "../components/Stuff.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <Header />
  {/* Main */}
  <main class="max-w-2xl mx-auto space-y-10">
    {/* Logs */}
    <Logs />

    {/* Tools */}
    <Tools />

    {/* Philosophy */}
    <Philosophy />

    {/* Stuff */}
    <Stuff />

    {/* Contact */}
    <Contact />
  </main>
</Layout>
