---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Tools from '../components/Tools.astro';
import Logs from '../components/Logs.astro';
import Philosophy from '../components/Philosophy.astro';
import Stuff from '../components/Stuff.astro';
import Contact from '../components/Contact.astro';

const PAGE_PROPS = {
  title: 'Home Page',
  description: 'personal site of Alejandro Propst. Nerdy, messy, honest.',
  image: '/metaimage.png',
};
---

<Layout {...PAGE_PROPS}>
  <Header />
  {/* Main */}
  <main class="max-w-2xl mx-auto space-y-10">
    {/* Stuff */}
    <Stuff />

    {/* Philosophy */}
    <Philosophy />

    {/* Logs */}
    <Logs />

    {/* Tools */}
    <Tools />

    {/* Contact */}
    <Contact />
  </main>
</Layout>
