---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Tools from '../components/Tools.astro';
import Logs from '../components/Logs.astro';
import Philosophy from '../components/Philosophy.astro';
import Stuff from '../components/Stuff.astro';
import SocialsComp from '../components/Socials.astro';
import ContactForm from '../components/ContForm.astro';
import AboutMe from '../components/AboutMe.astro';

const PAGE_PROPS = {
  title: 'Home page',
  description: 'personal site of Alejandro Propst. Geeky, chaotic, honest.',
  image: '/metaimage.png',
};
---

<Layout {...PAGE_PROPS}>
  
  {/* Upper component */}
  <Header />

  {/* The rest of the content on the page */}
  <main class="max-w-2xl mx-auto space-y-10">
    <AboutMe />
    <Stuff />
    <Philosophy />
    <Logs />
    <Tools />
    <ContactForm />
    <SocialsComp />
  </main>
</Layout>
