<header class="mb-12">
  <div class="max-w-2xl mx-auto">
    <div
      class="bg-[#1f2937] p-6 rounded-lg border border-gray-600 shadow mt-12"
    >
      <div class="flex items-center space-x-4 mb-4">
        <img
          id="avatar"
          src="/src/assets/img/propstfake.gif"
          alt="pfp"
          class="w-14 h-14 rounded-full border-2 border-[#D99058]"
        />
        <div>
          <h1 class="text-xl font-bold text-[#D99058]">propstgonz</h1>
          <p class="text-sm text-gray-400">
            ~/about — probably overthinking something right now
          </p>
        </div>
      </div>
      <p
        id="typed-intro"
        class="text-sm text-cyan-300 terminal-cursor whitespace-pre-wrap"
      >
      </p>
    </div>
  </div>
</header>
