---
import Image from "astro/components/Image.astro"
import fakepfp from "/public/propstfake.gif"
---

<header class="mb-12">
  <div class="max-w-2xl mx-auto">
    <div
      class="flex space-x-6 h-38 bg-[#1f2937] p-6 rounded-lg mt-12 border border-gray-600"
    >
      <div
        class="rounded-full border-4 border-orange-300 overflow-hidden w-24 h-24 shrink-0 self-start"
      >
        <Image
          id="avatar"
          src={fakepfp}
          alt="my fake pfp"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="flex-1 min-w-0 flex flex-col justify-start">
        <div>
          <h1 class="text-xl font-bold text-[#D99058]">propstgonz</h1>
          <p class="text-sm text-gray-400">
            ~/about — probably overthinking something right now
          </p>
        </div>
        <span
          id="typed"
          class="text-cyan-300 block whitespace-normal break-words mt-1 after:content-['|'] after:animate-blink after:ml-[2px]"
        ></span>
      </div>
    </div>
  </div>

  <script>
    import { startTyping } from "../assets/scripts/typewriter.ts";
    startTyping();
  </script>
</header>
