---
import { stuff } from "../data/stuff.ts";
---

<section>
  <h2 class="text-lg font-semibold text-[#D99058] mb-3">
    [ my stuff / where I put things ]
  </h2>
  <ul class="grid grid-cols-2 sm:grid-cols-3 gap-3 text-sm">
    {
      stuff.map((item) => (
        <li
          class="bg-[#1f2937] h-12 border border-gray-600 rounded flex items-center justify-center text-center cursor-pointer transition duration-200 ease-in-out hover:border-[#D99058] hover:scale-105"
          {...(item.action.type === "modal" && {
            [String(item.action.dataAttr)]: true,
          })}
          {...(item.action.type === "link" && {
            onClick: `location.href='${item.action.href}'`,
          })}
          {...(item.action.type === "external" && {
            onClick: `window.open('${item.action.href}', '_blank')`,
          })}
        >
          {item.action.type === "internal-link" ? (
            <a
              href={item.action.href}
              class="w-full h-full flex items-center justify-center"
            >
              {item.label}
            </a>
          ) : (
            item.label
          )}
        </li>
      ))
    }
  </ul>
</section>
