---
const { title, pubDate, author = [] } = Astro.props;

import Footer from "../components/Footer.astro";
import "../styles/global.css";
import ClientRouter from "astro/components/ClientRouter.astro";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{title} ~ propstgonz | Blog Post</title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

  <!-- Google tag (gtag.js) -->
  <script
    async
    is:inline
    src="https://www.googletagmanager.com/gtag/js?id=G-4WG6H9DMB9"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      window.dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-4WG6H9DMB9");
  </script>
</head>

<body class="min-h-screen flex flex-col">
  <ClientRouter />

  <article
    class="max-w-4xl mx-auto px-6 pt-20 pb-32 flex-1 grid grid-cols-1 md:grid-cols-[auto_1fr] gap-12"
  >
    <aside
      class="text-sm text-gray-400 md:sticky md:top-8 md:self-start md:p-2 border-b border-gray-700 pb-4 md:pb-0 md:border-b-0"
    >
      <div class="space-y-2">
        <p><strong>Publicado:</strong> {pubDate}</p>
        <p>
          <strong>Autor:</strong>
          {Array.isArray(author) ? author.join(", ") : author}
        </p>
      </div>
    </aside>

    <main class="prose prose-invert max-w-none mt-20 md:mt-0">
      <h1 class="text-4xl font-bold mb-6">{title}</h1>
      <slot />
    </main>
  </article>

  <Footer />
</body>
